<div class="row category
    {{if eq .IsRight true}}
	    orient-right
	{{else}}
	 	orient-left
	{{end}}">
    <a href="/products">
        {{if eq .IsRight false}}
        <div class="columns small-4">
            <img src="/img/{{.ImageUrl}}" alt="{{.ImageUrl}}" />
        </div>
        {{end}}
        <div class="columns small-8">
            <h2>{{.Title}}</h2>
            <p>{{.Desc}}</p>
        </div>
        {{if eq .IsRight true}}
        <div class="columns small-4">
            <img src="/img/{{.ImageUrl}}" alt="{{.ImageUrl}}" />
        </div>
        {{end}}
    </a>
</div>